<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.example.lab2.mybatis.model.Team" alias="Team"/>
        <typeAlias type="org.example.lab2.mybatis.model.Player" alias="Player"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="TournamentDataSource2"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/TeamMapper.xml"/>
        <mapper resource="mybatis.xml/PlayerMapper.xml"/>
    </mappers>
</configuration>
